In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──
✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
meth_df <- readRDS("../data/methylation/Methylation_files_with_counts/mean_methylation_with_counts_NAs_removed_with_binID_FILTERED.rds")

In [3]:
head(meth_df)

  chr  start   end     bin_number bin_id methylation n_meth_values_in_bin
1 chr1  750000 1000000 3          chr1_3 50.85448    12359
2 chr1 1000000 1250000 4          chr1_4 59.94958    15136
3 chr1 1250000 1500000 5          chr1_5 66.37292    13548
4 chr1 1750000 2000000 7          chr1_7 54.63748    12281
5 chr1 2000000 2250000 8          chr1_8 67.25908    13879
6 chr1 2250000 2500000 9          chr1_9 52.50686    13306
  n_na_meth_values_in_bin
1 0
2 0
3 0
4 0
5 0
6 0

In [4]:
dim(meth_df)

[1] 10019     8

In [5]:
meth_df <- meth_df %>% select(bin_id, methylation)

In [6]:
head(meth_df)

  bin_id methylation
1 chr1_3 50.85448
2 chr1_4 59.94958
3 chr1_5 66.37292
4 chr1_7 54.63748
5 chr1_8 67.25908
6 chr1_9 52.50686

In [7]:
saveRDS(meth_df, file = "../data/methylation/methylation_preprocessed_FILTERED.rds")

ERROR: Error in data$Methylation: object of type 'closure' is not subsettable